main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('./assets/1080-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
