.about-me-popup {
  position: fixed;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 50%;
  border-radius: 10px;
  background-color: rgb(0 36 50);
  padding: 10px;
  color: white;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  flex-direction: column;
  justify-content: center;
}

.my-name {
  text-align: center;
}

.my-info {
  justify-content: center;
  align-items: center;
}

.my-info > p {
  width: 50%;
}

.my-info > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
}

.social-media-header {
  list-style-type: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.social-media-header > li > a {
  margin: 0 15px;
  padding: 15px;
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.social-media-header > li > a > img {
  width: 17px;
  height: 19px;
}

.social-media-header > li:hover > a > img {
  width: 19px;
  height: 21px;
}

.close-aboutme-popup {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.1rem;
  background-color: inherit;
  color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid white;
  cursor: pointer;
}

.close-aboutme-popup:hover {
  background-color: white;
  color: rgb(0 36 50);
}
